{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- What's New Promo -->
<div style="background: url('https://res.cloudinary.com/dyrqrlk7s/image/upload/v1740721892/kid_xl_hhxjzu.jpg') no-repeat center center; 
            background-size: cover; 
            width: 100%; 
            min-height: 50vh;">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-12 col-md-6 text-center text-center-on-mobile pt-5">
                <h2 class="my-4">See What's New!</h2>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col col-md-4 p-1 d-flex align-items-center flex-column">
                <div class='p-3 rounded-4 lg-promo' style='background-color: rgba(144, 219, 244, 0.5);'>
                    <div class="flex-shrink-0 mb-3 mb-md-0 text-center">
                        <a href="{% url 'products:product_detail' product_id=promo_new.id %}">
                            <img src="{{ promo_new.image.url }}" alt="{{ promo_new.name }}" class="rounded-4"
                                style="max-height:200px; max-width: 100%;">
                        </a>
                    </div>
                    <div class="text-center">
                        <a href="{% url 'products:product_detail' product_id=promo_new.id %}"
                            class="text-decoration-none no-link-style">
                            <h3>{{ promo_new.name }}</h3>
                        </a>
                        <p>{{ promo_new.flavor }}</p>
                        <p>{{ promo_new.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- What's Popular Promo -->
<div style="background: url('https://res.cloudinary.com/dyrqrlk7s/image/upload/v1740721891/candy_girl_xl_yjvymu.jpg') no-repeat center center; 
            background-size: cover; 
            width: 100%; 
            min-height: 50vh;">
    <div class="container" style="padding-top: 50px; padding-left: 0; margin-left:0;">
        <div class="row">
            <div class="col-12 col-md-12 text-center p-1 text-center-on-mobile">
                <h2 class="my-4">See What's Popular!</h2>
            </div>
        </div>
        <div class="row justify-content-start mobile-stack">
            <div class="col col-md-4 p-3 d-flex align-items-center flex-column">
                <div class='p-3 rounded-4' style=' background-color: rgba(255, 207, 210, 0.5);'>
                    <div class="flex-shrink-0 me-3 mb-3 mb-md-0">
                        <a href="{% url 'products:product_detail' product_id=promo_popular_1.id %}">
                            <img src="{{ promo_popular_1.image.url }}" alt="{{ promo_popular_1.name }}"
                                class="rounded-4" style="max-height:200px; max-width: 100%;">
                        </a>
                    </div>
                    <a href="{% url 'products:product_detail' product_id=promo_popular_1.id %}"
                        class="text-decoration-none no-link-style">
                        <h3>{{ promo_popular_1.name }}</h3>
                    </a>
                    <p>{{ promo_popular_1.flavor }}</p>
                </div>
            </div>

            <div class="col col-md-4 p-3 d-flex align-items-center flex-column">
                <div class='p-3 rounded-4' style=' background-color: rgba(255, 207, 210, 0.5);'>
                    <div class="flex-shrink-0 me-3 mb-3 mb-md-0">
                        <a href="{% url 'products:product_detail' product_id=promo_popular_2.id %}">
                            <img src="{{ promo_popular_2.image.url }}" alt="{{ promo_popular_2.name }}"
                                class="rounded-4" style="max-height:200px; max-width: 100%;">
                        </a>
                    </div>
                    <a href="{% url 'products:product_detail' product_id=promo_popular_2.id %}"
                        class="text-decoration-none no-link-style">
                        <h3>{{ promo_popular_2.name }}</h3>
                    </a>
                    <p>{{ promo_popular_2.flavor }}</p>
                </div>
            </div>

            <div class="col col-md-4 p-3 d-flex align-items-center flex-column">
                <div class='p-3 rounded-4' style=' background-color: rgba(255, 207, 210, 0.5);'>
                    <div class="flex-shrink-0 me-3 mb-3 mb-md-0">
                        <a href="{% url 'products:product_detail' product_id=promo_popular_3.id %}">
                            <img src="{{ promo_popular_3.image.url }}" alt="{{ promo_popular_3.name }}"
                                class="rounded-4" style="max-height:200px; max-width: 100%;">
                        </a>
                    </div>
                    <a href="{% url 'products:product_detail' product_id=promo_popular_3.id %}"
                        class="text-decoration-none no-link-style">
                        <h3>{{ promo_popular_3.name }}</h3>
                    </a>
                    <p>{{ promo_popular_3.flavor }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Signup for weekly offers email -->
<div class="container mt-5" id="mc_embed_signup" style="max-width: 800px;">
    <form
        action="https://herokuapp.us3.list-manage.com/subscribe/post?u=9bc02961ca7f3339fecb99b5f&amp;id=c2586ed415&amp;f_id=0083e7e3f0"
        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
        target="_blank">
        <div id="mc_embed_signup_scroll">
            <h2>Subscribe!</h2>
            <p>Receive weekly special offers</p>
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
            <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span
                        class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email"
                    id="mce-EMAIL" required="" value=""></div>
            <div class="mc-field-group"><label for="mce-FNAME">First Name </label><input type="text" name="FNAME"
                    class=" text" id="mce-FNAME" value=""></div>
            <div id="mce-responses" class="clear foot">
                <div class="response" id="mce-error-response" style="display: none;"></div>
                <div class="response" id="mce-success-response" style="display: none;"></div>
            </div>
            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                /* real people should not fill this in and expect good things - do not remove this or risk form bot
                signups */
                <input type="text" name="b_9bc02961ca7f3339fecb99b5f_c2586ed415" tabindex="-1" value="">
            </div>
            <div class="optionalParent">
                <div class="clear foot">
                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                    <p style="margin: 0px auto;"><a href="http://eepurl.com/jiEvX2"
                            title="Mailchimp - email marketing made easy and fun"><span
                                style="display: inline-block; background-color: transparent; border-radius: 4px;"><img
                                    class="refferal_badge"
                                    src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
                                    alt="Intuit Mailchimp"
                                    style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday'; fnames[6] = 'COMPANY'; ftypes[6] = 'text'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>

<!-- user reviews display -->
<div class="container mt-5">
    <h2 class="mb-4 text-center-on-mobile">User Reviews</h2>
    {% for review in reviews|slice:":5" %}
    <div class="review-list mb-4">
        <div class="container text-center">
            <div class="row">
                <div class="col-2 col-md-2">
                    <strong>{{ review.product.name }}</strong>
                    <img src="{{ review.product.image.url }}" alt="{{ review.product.name }}" class="rounded-4"
                        style="max-height:100px; max-width: 100px;">
                </div>
                <div class="col-10 col-md-10 text-start text-center-on-mobile">
                    <p><strong>{{ review.user.username }}</strong> ({{ review.rating }} &#9733;)</p>
                    <p>"{{ review.comments }}"</p>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No reviews available.</p>
    {% endfor %}
</div>
{% endblock %}