{% extends "base.html" %}
{% load static %}
{% block content %}

<div class='container-fluid m-5'>
  <div class="row">
    {% for product in products %}
    <div class="col mb-5">
      <div class="card h-100 border-3 p-1" style="width: 30rem;">
        {% comment %} card header  {% endcomment %}
        <div class="card-header">
          <p class="lead text-center font-weight-bold fs-2">{{ product.name }}</p>
        </div>
        <img class="card-img-top img-fluid" src="{{ product.product_image.url }}" alt="{{ product.name }}" />
        <div class="card-body">
          <p class="card-text">{{ product.description }}</p>
        </div>
        {% comment %} card footer  {% endcomment %}
        <div class="card-footer text-body-secondary">
          <div class="row">
            <div class="col">
              <p class="lead text-center font-weight-bold">
                ${{ product.price }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
