{% extends "base.html" %}
{% load static %}
{% block content %}

<div class='container-fluid p-3 ' style='margin-top:8rem'>
  <div class="row">
    {% for product in products %}
    <div class="col-12 col-md-6 col-lg-4 py-3 px-5">
      <div class="card h-100 border-3 p-1" style="border: 2px solid #F1C0E8; background-color: #FFCFD2;">
        <a href="{% url 'products:product_detail' product_id=product.id %}" class="no-link-style">
          {% comment %} card header  {% endcomment %}
          <div class="card-header" style="background-color: #98F5E1;">
            <p class="lead text-center font-weight-bold fs-2">{{ product.name }}</p>
          </div>
          <img class="card-img-top img-fluid" src="{{ product.product_image.url }}" alt="{{ product.name }}" />
          <div class="card-body">
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text">{{ product.flavor }}</p>
            <p class="card-text">{{ product.type }}</p>
          </div>
        </a>
        {% comment %} card footer  {% endcomment %}
        <div class="card-footer text-body-secondary" style="background-color: #8EECF5;" >
          <div class="row">
            <div class="col d-flex align-items-center">
              <p class="text-start font-weight-bold m-0 fs-4 ">
                ${{ product.price }}
              </p>
            </div>
            <div class='col d-flex justify-content-end'>       
              <form
                class="form " action="{% url 'checkout:add_to_basket' product.id %}" method="POST" >
                {% csrf_token %}
                {% if user.is_authenticated %}
                <input type="hidden" name="quantity" value="1" />
                <input type="hidden" name="redirect_url" value="{{ request.path }}" />
                <input type="submit" class="btn fs-5" value="Quick Buy" />
                {% else %}
                <a href="{% url 'account_login' %}" class="btn btn-outline-dark rounded-0">
                  <i class="fas fa-chevron-left me-2"></i>
                  <span class="text-uppercase">Login</span>
                </a>
                {% endif %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
