{% extends "base.html" %}


{% block content %}
PRODUCTS.HTML
    <div class="row">
        {% for product in products %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="card h-100 border-3">
                    <div class="card-body pb-3">
                        <p class="mb-3">product_id:  {{ product.product_id }}</p>
                        <p class="mb-3">product_name:  {{ product.product_name }}</p>
                        <p class="mb-3">stocked:  {{ product.stocked }}</p>
                        <p class="mb-3">description:  {{ product.description }}</p>
                        <p class="mb-3">size:  {{ product.size }}</p>
                    </div>
                    <div class="card-footer bg-white pt-0 border-0 text-left">
                        <div class="row">
                            <div class="col">
                                <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endfor %}
{% endblock %}


