<footer class="footer mt-auto py-3 dark-bg">
    <p class="m-0 text-center text-black">
        {% block copyright %}SugarRush 2025{% endblock copyright %}
    </p>
    <p class="m-0 text-center text-dark">Follow us:
        <a href="https://bsky.app/" class="link-dark text-decoration-none " target="_blank" rel="noopener"
            aria-label="Visit us on bluesky page (opens in a new tab)">
            <i class="fa-brands fa-bluesky"></i>
        </a>
        <a href="https://www.instagram.com/" class="link-dark text-decoration-none " target="_blank" rel="noopener"
            aria-label="Visit us on instagram page (opens in a new tab)">
            <i class="fab fa-instagram-square ms-3"></i>
        </a>
        <a href="https://www.youtube.com/" class="link-dark text-decoration-none " target="_blank" rel="noopener"
            aria-label="Visit us on youtube page (opens in a new tab)">
            <i class="fab fa-youtube-square ms-3"></i>
        </a>
    </p>
</footer>