<nav class=" hidden-large navbar navbar-expand-lg rounded border border-dark" style='background-color: #8EECF5'>
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home:home' %}">
            <h2 class="logo-font text-black my-0">
                <strong>Sugar</strong> Rush
            </h2>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-style" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}"
                    href="{% url 'home:home' %}"> Home
                </a>
                <a class="nav-link {% if request.resolver_match.url_name == 'products' %}active{% endif %}"
                    href="{% url 'products:products' %}"> Our Candy
                </a>
                <a class="nav-link {% if request.resolver_match.url_name == 'checkout' %}active{% endif %}"
                    href="{% url 'checkout:checkout' %}">Your Basket
                </a>
                {% if user.is_authenticated %}
                <a class="nav-link {% if request.resolver_match.url_name == 'account_logout' %}active{% endif %}"
                    href="{% url 'account_logout' %}">Logout</a>
                <a class="nav-link {% if request.resolver_match.url_name == 'review_list' %}active{% endif %}"
                    href="{% url 'profiles:review_list' %}">Profile</a>
                {% else %}
                <a class="nav-link {% if request.resolver_match.url_name == 'account_login' %}active{% endif %}"
                    href="{% url 'account_login' %}">Login</a>
                {% endif %}
                {% if user.is_superuser %}
                <a class="nav-link {% if request.resolver_match.url_name == 'admin' %}active{% endif %}"
                    href="{% url 'admin:index' %}">Management</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>