{% extends "base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'js/checkout.js' %}"></script>

  <h1>PAYMENT</h1>
  <div class='m-5'>
    <ul>
      <li><a href="{% url 'checkout:payment' %}"> PAYMENT PAGE</a></li>
      <li><a href="{% url 'checkout:shipping_info' %}"> SHIPPING PAGE</a></li>
      <li><a href="{% url 'checkout:checkout' %}"> CHECKOUT PAGE</a></li>
    </ul>
  </div>
  <div class="col-12 col-lg-6">
    <!-- Display a payment form -->
    <div id="checkout">
      <!-- Checkout will insert the payment form here -->
    </div>
  </div>
{% endblock %}
