{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<script src="https://js.stripe.com/v3/"></script>
<script src="checkout.js" defer></script>

  <h1>PAYMENT</h1>
  <div class="row">
  {% if order_results %}
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <h3>Basket ID: {{ order_results.user }}</h3>
      <ul>
        {% for i in order_results.basket_products.all %}
          <div>
            <p>Name: {{ i.product.name }} Quantity: {{ i.quantity }} Price: ${{ i.product.price }}</p>
          </div>
        {% empty %}
          <p>No order history for this user.</p>
        {% endfor %}
      </ul>
      <div class="col-3 m-3">
        <p class="my-0"><strong>${{ grand_total | floatformat:2 }}</strong></p>
    </div>
    </div>
  {% else %}
    <p>No basket found for the current user. {{user}}</p>
  {% endif %}

  {% load crispy_forms_tags %}
  <div class="col-12 col-lg-6">
    <form action="{% url 'checkout:checkout' %}" method="POST">
      {{ order_form.full_name |as_crispy_field }}
      {{ order_form |crispy }}
    </form>

    {% load crispy_forms_tags %}
    <form action="{% url 'checkout:checkout' %}"  method="POST">
        {% csrf_token %}
        {{ order_form|crispy }}
        <button type="submit">Submit</button>
    </form>
  </div>

  <div class="col-12 col-lg-6">
    <!-- Display a payment form -->
    <div id="checkout">
    <!-- Checkout will insert the payment form here -->
    </div>
  </div>


{% endblock %}
