{% extends "base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'js/checkout.js' %}"></script>

  <h1>SHIPPING</h1>
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'checkout:checkout' %}">Edit Basket</a></li>
      <li class="breadcrumb-item active" aria-current="page">Shipping Details</li>
      <li class="breadcrumb-item"><a href="{% url 'checkout:payment' %}">Review and Payment</a></li>
    </ol>
  </nav>


  <div class='m-5'>
    <ul>
      <li><a href="{% url 'checkout:payment' %}"> PAYMENT PAGE</a></li>
      <li><a href="{% url 'checkout:shipping_info' %}"> SHIPPING PAGE</a></li>
      <li><a href="{% url 'checkout:checkout' %}"> CHECKOUT PAGE</a></li>
      <li><a href="{% url 'checkout:success' %}"> SUCCESS</a></li>
    </ul>
  </div>
  <div class="row">
  {% if order_results %}
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <h3>Basket ID: {{ order_results.user }}</h3>
      <ul>
        {% for i in order_results.basket_products.all %}
          <div>
            <p>Name: {{ i.product.name }} Quantity: {{ i.quantity }} Price: ${{ i.product.price }}</p>
          </div>
        {% empty %}
          <p>No order history for this user.</p>
        {% endfor %}
      </ul>
      <div class="col-3 m-3">
        <p class="my-0"><strong>${{ grand_total | floatformat:2 }}</strong></p>
    </div>
    </div>
  {% else %}
    <p>No basket found for the current user. {{user}}</p>
  {% endif %}

  <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
    {% load crispy_forms_tags %}
    <form action="{% url 'checkout:checkout' %}"  method="POST">
        {% csrf_token %}
        {{ order_form|crispy }}
        <button type="submit">Submit</button>
    </form>
  </div>
{% endblock %}
