{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center text-center">
    <div class="col-12 col-md-6">
      <div class="justify-content-center mt-5 p-5 rounded-4"
        style="border: 1px solid #000; min-height: 10vh; background-color: rgba(144, 219, 244, 0.5);">
        <h2>SUCCESS</h2>
        <p>Candy is on the way!</p>
      </div>
    </div>
    <div class="container-fluid d-flex justify-content-center align-items-center">
      <a href="{% url 'home:home' %}" class="btn btn-outline-dark m-3 btn-2" style="min-width: 10rem;">Back Home</a>
    </div>
  </div>
</div>
{% endblock %}